@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
list-style: none;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
}
h6 {
    font-family: 'Poppins', sans-serif;
}

body {
background-color: rgba(250, 168, 61, 0.705);
color: #333;
font-family: 'Poppins', sans-serif;
}

.wrapper {
background: rgba(255, 185, 56, 0.74);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
box-shadow: 0 0 10px rgba(0,0,0,.3);
margin: 16px auto;
max-width: 960px;
padding: 2.25%; /* 18px / 800px */
width: 85%;
}
footer.branding {
border-top: 2px solid #ccc;
margin-top: 20px;
padding-top: 20px;
}

.nav li {
display: inline;
}

.nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    background-color: rgba(255,255,255,.3);
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.main-nav li {
    padding: 0 3%;
}
.user-home-welcome{
    font-size: 4em;
    text-align: right;
}
.user-home-slogan{
    font-size: 1em;
    text-align: right;
}


.buttons {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 3px 3px;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid rgb(172, 172, 172);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    margin: auto;
    transition: 0.5s;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: rgba(250, 168, 61, 0.705);
    font-size: 1.5em;
}
.buttons a {
    text-decoration: none;
    color: rgba(250, 168, 61, 0.705);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
}



.buttons:after {
    color: rgba(250, 168, 61, 0.705);
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}   
.buttons:hover {
    padding-right: 25px;
  }
  
.buttons:hover:after {
    opacity: 1;
    right: 20px;
  }

  .pictures{
    padding: 5px;
    position:relative; left:29px; top:20px;
  }

  .user-home-buttons{
    padding: 5px 25px;
    font-size: 1.25em;
  }

  .home-welcome{
    font-family: 'Poppins', sans-serif;
    position:relative; left:29px;  top:30px;
    display: inline-block;
    padding: 1em;
    font-size: 1.25em;
    text-align: right;
  }

  .home-signup {
    position: relative; left: 50px;
  }
  .home-login {
    position: relative; top: 10px; left:141px;
  }
  
  .login-text{
      position:relative;left:115px;
  }

  .home-home-choices{
    position: relative; left: 300px; bottom: 35px;
  }

 