<form action="/login" method = 'POST'>
    username: <input type="text" name="user[username]" > <br>
    password: <input type="password" name="user[password]" ><br>
    <input type="submit" value="Log in!"><br>
    <%=@error%>
    <br>
    <br>
    <br>
    <br>
    <br>
    Don't have an account? Sign up now. <br>
    <a href="/signup">Sign up</a>
</form>