<form action="/login" method = 'POST'>
    username: <input type="text" name="user[username]" > <br>
    password: <input type="password" name="user[password]" ><br>
    <input type="submit" value="Log in!"><br>
    <%=@error%>
</form>