<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <form action="/signup" method='POST'>
            username: <input type="text" name="user[username]"><br>
            password: <input type="password" name="user[password]"><br>
            <input type="submit" value="Sign me up!"><br><br>
            <%=@error%><br>
        </form>

        <footer>
            <img src="https://blog.assets.traveltrivia.com/2019/03/Red-Square-1.jpg" alt="mosque in india" width="100" height="100 px">
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2011%2F03%2F201105-w-landmarks-bellagio.jpg" alt="water fountain pretty"width="100" height="100 px">
            <img src="https://media.cntraveler.com/photos/576af679c06bba921a97a0b8/master/w_2048,h_1536,c_limit/Chureito-Pagoda-E6HMHF.jpg" alt="mount everest in the back"width="100" height="100 px">
            <img src="https://img.traveltriangle.com/blog/wp-content/tr:w-700,h-400/uploads/2016/11/1.-Grand-Canal-Venice.jpg" alt="venice"width="100" height="100 px">


        </footer>
        
    </body>
    
</html>