<form action="/signup" method='POST'>
    username: <input type="text" name="user[username]"><br>
    password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Sign me up!"><br><br>
    <%=@error%><br>
</form>