<h1>Hello, <%=@user.username%>!</h1>
<br>
<br>
<br>
<br>
We're excited to help keep track of your past and future endeavors!
<br>
Click <a href="/users/<%=@user.username%>/endeavors">here</a> to see all of your endeavors.
<br>
<br>
<br>
<br>
Have a great trip in mind? Make it official and not just an idea! <br>
Create it here now! 
<a href="/users/<%=@user.username%>/endeavors/new">Create!</a>
<br>
<img src="../../../public/cloud-gate.jpg" alt="picture of the bean in chicago">

