<form action="/users/<%=Helper.current_user(session).username%>/endeavors" method="POST">
    <p>What would you like to call your new endeavor?:</p>
    <input type="text" name="endeavor[title]">
    <br>
    <p>Give a short description about this endeavor: </p>
    <input type="text" name="endeavor[description]"> <br> 
    <br>
    <br>
    <p>If you would like to post a picture with <br>your endeavor, please post a <br>dropbox link to the image.</p><br>
    <p>Drop-box link:</p> 
    <input type="text" name="endeavor[pic]" ><br>
    <p>Add a short caption to your picture:</p>
    <input type="text" name="endeavor[pic_caption]" ><br><br>
    <input class = "buttons" type="submit" value="Create this endeavor!"><br> <br>
    <%=@error%>
</form>
