<h1> Welcome to YOUR Endeavors</h1>
<h6> may your past and future travels treat you well...</h6><br>

<a href='/signup'> Sign up</a><br>
<a href='/login'> Log in</a><br>
<div>

<img src="https://www.novinite.com/media/images/2019-08/photo_verybig_199790.jpg" alt="eiffel tower"width="200px" height="200 px">
<img src="https://thumbor.thedailymeal.com/QOuw1z3VzY5p7E4U2vd01ofzLk0=/870x565/https://www.theactivetimes.com/sites/default/files/2020/02/20/00_Hero.jpg" alt="colloseum"width="200px" height="200 px">
<img src="https://thumbor.thedailymeal.com/PvXoVF7U2vGoNxpztZWnCsrMvzw=/870x565/filters:focal(723x376:724x377)/https://www.thedailymeal.com/sites/default/files/2019/12/30/iStock-1047316896.jpg" alt="arch"width="200px" height="200 px">
<img src="https://www.usnews.com/dims4/USNEWS/965dcae/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F9d%2F9b%2Fd8dc8f3747b9b147d5c0a7fa1888%2F2-angkor-wat-getty.jpg" alt="mansion looks cool"width="200px" height="200 px">
<img src="https://www.fodors.com/wp-content/uploads/2019/03/01_10AllAmericanLandmarks__TheStatueofLiberty_shutterstock_435299704.jpg" alt="statue of liberty"width="200px" height="200 px">
<img src="https://designlike.com/wp-content/uploads/2011/12/Scarlet-Night-Sydney-Opera-House-Sydney-Australia.jpg" alt="opera house in sydney"width="200px" height="200 px">
<img src="https://www.history.com/.image/t_share/MTY1MTc3MjE0MzExMDgxNTQ1/topic-golden-gate-bridge-gettyimages-177770941.jpg" alt="golden gate bridge"width="200px" height="200 px">
<img src="https://www.pandotrip.com/wp-content/uploads/2018/03/Aerial-View-of-Niagara-Falls-Canada.jpg" alt="niagara falls?"width="200px" height="200 px">
<img src="https://blog.assets.traveltrivia.com/2019/03/Red-Square-1.jpg" alt="mosque in india" width="200px" height="200 px">
<img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2011%2F03%2F201105-w-landmarks-bellagio.jpg" alt="water fountain pretty"width="200px" height="200 px">
<img src="https://media.cntraveler.com/photos/576af679c06bba921a97a0b8/master/w_2048,h_1536,c_limit/Chureito-Pagoda-E6HMHF.jpg" alt="mount everest in the back"width="200px" height="200 px">
<img src="https://img.traveltriangle.com/blog/wp-content/tr:w-700,h-400/uploads/2016/11/1.-Grand-Canal-Venice.jpg" alt="venice"width="200px" height="200 px">

</div>